--indent 2
--indentcase true
--trimwhitespace always
--maxwidth 120
--wraparguments before-first
--wrapcollections before-first
--closingparen balanced
--commas always
--decimalgrouping 3
--hexliteralcase uppercase
--ifdef indent
--importgrouping alphabetized
--operatorfunc spaced
--ranges spaced
--semicolons never
--stripunusedargs closure-only
--swiftversion 5.9
--header strip